@import url(https://fonts.googleapis.com/css?family=Lato:300,400,600,700);
html, body {
  font-family: Lato;
}

.fixed-top {
  position: fixed;
}

.full-height {
  display: flex;
  align-items: center;
  height: 100vh;
}

.frame-laptop {
  margin: 0 -10vw;
}

.bg-landing {
  background-color: #f4b11a !important;
}

.bg-project-overview {
  background-color: #8461a4 !important;
}

.bg-primary {
  /* background-color: #4791ce !important; */
  background-color: #0586FF !important;
}

.bg-purple {
  /* background-color: #4791ce !important; */
  background-color: #5220DD !important;
}

.bg-gradient-blue {
  background: -o-linear-gradient(40deg, #2998fe 0, #042396 100%)!important;
  background: linear-gradient(50deg, #2998fe,  #042396)!important
}

.footer-dark {
  background-color: #4A4A4A !important;
}

.back-to-top {
  position: fixed;
  display: none;
  background: #111;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top {
  background-color: #4A4A4A;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

.scroll {
  max-height: 250px;
  overflow: auto;
}

@media(max-width: 991.95px) {
  .mobile-none {
    display: none;
  }
}