@import url(https://fonts.googleapis.com/css?family=Lato:300,400,600,700);

html, body{
  font-family: Lato;
}

.fixed-top{
  position: fixed;
}

.full-height{
  display: flex;
  align-items: center;
  height: 100vh;
}

.bg-landing {
  background-color: #f4b11a !important;
}

.bg-project-overview {
  background-color: #8461a4 !important;
}

.bg-primary {
  background-color: #3d82c3 !important;
}

.footer-dark {
  background-color: #4A4A4A !important;
}