@import url(https://fonts.googleapis.com/css?family=Lato:300,400,600,700);

html, body{
  font-family: Lato;
}

.fixed-top{
  position: fixed;
}

.full-height{
  display: flex;
  align-items: center;
  height: 100vh;
}

.bg-primary {
  background-color: #0586FF !important;
}

.footer-dark {
  background-color: #4A4A4A !important;
}